.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;

    &-navbar{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 36px;

        &-menu{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 36px;

            @media screen and (max-width:768px) {
                &{
                    display: none;
                }
            }

            &-explore{
                color: $secondary-color;
                font-family:$primary-font;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            &-search{
                color: $primary-color;
                font-family:$primary-font;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            &-hotels{
                color: $secondary-color;
                font-family:$primary-font;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            &-wishlist{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 12px;
                cursor: pointer;
            }
        }
    }
    .hamburger{
        position: relative;
        display: none;
        width: 35px;
        cursor: pointer;
        z-index: 99;
        appearance: none;
        background: none;
        outline: none;
        border: none;
        @media screen and (max-width:768px) {
            display: block;
        }
    
    }
    .hamburger .bar, .hamburger:after, .hamburger:before{
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background-color:$primary-color;
        margin: 6px 0px;
        transition: 0.4s;
    }
    .hamburger.is-active:before{
        transform: rotate(-45deg) translate(-8px, 6px);
    }
    
    .hamburger.is-active:after{
        transform: rotate(45deg) translate(-9px, -9px);
    }
    
    .hamburger.is-active .bar{
        opacity: 0;
    }
}
.mobile-nav{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    padding-top: 120px;
    transition: 0.4s;
    background-color: $third-color;
    &.is-active{
        left: 0;
     }

    a{
        display: block;
        width: 100%;
        max-width: 200px;
        margin: 0 auto 16px;
        text-align: center;
        padding: 12px 16px;
        background-color: $primary-color;

        color: $third-color;
        text-decoration: none;

        &:hover{
            background-color: $secondary-color;
            min-width: 768px;
        }
    }
}

//search-section

.search{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    height: 362px;
    align-self: stretch;
    padding-top: 84.1px;
    padding-bottom: 84.9px;
    background: url("/assets/images/9b977bd47a30a4e543b4224bd388e353\(2\).png"), url("/assets/images/Banner\ Gradient\ \(1\).png"), lightgray 50% / cover no-repeat;

    &-container{
        display: flex;
        width: 100%;
        height: auto;
        padding: 0 88px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        &-text{
            width: 100%;
            height: auto;
            color: var(--studio-darkmode-allwhite-ffffff, #FFF);
            font-family: Baloo Bhai;
            font-size: 61px;
            font-style: normal;
            font-weight: 400;
            line-height: 67px;
            align-self: stretch;
        }

        &-form{
            width: 100%;
            height: auto;
            display: flex;
            padding: 20px;
            align-items: flex-start;
            align-self: stretch;
            border-radius: 10px;
            background-color: $third-color;
        }
    }

    &-input{
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-start;
        flex: 1 0 0;

        &-group{
            display: flex;
            width: 100%;
            height: auto;
            padding: 5px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex: 1 0 0;

            &-dpt{
                width: auto;
                display: flex;
                height: 2px;
                padding: 0px 4px;
                align-items: center;
                gap: 10px;
                flex-shrink: 0;

                &-text{
                    width: auto;
                    height: auto;
                    color: var(--text-secondary, rgba(0, 0, 0, 0.60));
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-family: Roboto;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 12px;
                    letter-spacing: 0.15px;
                }
            }

            &-active{
                width: 100%;
                height: auto;
                display: flex;
                padding: 15px 0px;
                align-items: center;
                gap: 8px;
                align-self: stretch;
            }
        }
    }
    
}

//result section

.result{
    width: 100%;
    height: auto;
    display: flex;
    padding: 50px 80px;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;

    .search-filters{
        width: 253px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 39px;

        .result-summary{
            width: 228px;
            height: 47px;

            .frame{
                display: flex;
                width: 228px;
                height: auto;
                flex-direction: column;
                align-items: flex-start;
                gap: 24px;

                &-text{
                    width: 219.414px;
                    color:$secondary-color;
                    color: #57575D;
                    font-family: Roboto;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.257px;                    
                }
            }
        }

        .stops{
            width: 296.618px;
            height: 106px;

            &-text{
                width: 65.262px;
                color: $text-color;
                font-family: Roboto;
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.257px;                
            }

            &-checkbox{
                display: inline-flex;
                align-items: flex-start;
                gap: 16px;
            }
        }

        .booking-options{
            width: 221px;
            height: 106px;

            &-text{
                width: 189.034px;
                height: 26px;
                color: #57575D;
                font-family: Roboto;
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.257px;                                
            }

            &-checkbox{
                display: inline-flex;
                align-items: flex-start;
                gap: 16px;
            }
        }

        .flight-experience{
            width: 310.8px;
            height: 106px;

            &-text{
                width: 198.035px;
                height: 26px;
                color: #57575D;
                font-family: Roboto;
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.257px;               
            }

            &-checkbox{
                display: inline-flex;
                align-items: flex-start;
                gap: 16px;
            }
        }

        .airlines{
            width: 181px;
            height: 106px;

            &-text{
                width: 87.766px;
                height: 26px;
                color: #57575D;
                font-family: Roboto;
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.257px;                
            }

            &-checkbox{
                display: inline-flex;
                align-items: flex-start;
                gap: 16px;
            }
        }
    }

    &-section{
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-start;
        gap: 24px;
        flex: 1 0 0;

        .flight-cards{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            flex: 1 0 0;
        }
        
        .recently-booked{
            display: flex;
            width: 257px;
            height: auto;
            padding-bottom: 0px;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;

            &-tittle{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 14px;
                align-self: stretch;

                &-text{
                    flex: 1 0 0;
                    color: $primary-color;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.64px;
                    text-transform: uppercase;                    
                }
            }

            &-azal{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                align-self: stretch;
            }
        }
    }
}

//footer section

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 529px;
    align-items: stretch;
    background: url("/assets/images/14faa30c3403c5ac91d5d84921a55bf8.png"), lightgray 50% / cover no-repeat;

    &-form{
        margin: auto;
        height: auto;
        display: flex;
        width: 549px;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        &-header{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 7px;
            align-self: stretch;
            
            &-first{
                align-self: stretch;
                color: #1262AE;
                text-align: center;
                font-family: Roboto;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.72px;
                text-transform: uppercase;                
            }

            &-second{
                align-self: stretch;
                color: #434343;
                text-align: center;
                font-family: Roboto;
                font-size: 30px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;                
            }
        }

        &-subscribe{
            background-color: $third-color;
            display: flex;
            padding: 28px 30px;
            flex-direction: column;
            align-items: flex-start;
            gap: 17px;
            align-self: stretch;
        }

        &-text{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 6px;
            align-self: stretch;

            p{
                color: $secondary-color;
                font-family: Roboto;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 34px;
                align-self: stretch;                
            }
        }

        &-fields{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            align-self: stretch;                
        }
    }

    &-btn{
        width: 100%;
        height: 56px;
        display: flex;
        padding: 0px 12px;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 4px;
        border: 1px solid var(--other-outlined-border, rgba(0, 0, 0, 0.23));
    }

    &-input{
        width: 100%;
        height: auto;
        border: 0;
        outline: 0;
    }
}