.result{
    display: flex;
    padding: 50px 80px;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

.search-filters{
    width: 253px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 39px;

    .frame-2271{
        width: 228px;
        height: 47px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;

        p{
            width: 219.414px;
            color: #57575D;
            font-family: $primary-font;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.257px;
        }
    
        .vector{
            width: 228px;
            height: 0px;
            stroke-width: 1px;
            stroke: #EAEAEA;
        }
    }

    .stops{
        display: flex;
        flex-direction: column;
    }

    .booking{
        display: flex;
        flex-direction: column;
    }

    .flights-experience{
        display: flex;
        flex-direction: column;
    }
    .airlines{
        display: flex;
        flex-direction: column;
    }
}

.flight-results {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    flex-basis: 80%;
    width: 100%;

    .flights {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        flex: 1 0 0;
        flex-basis: 70%;

        p {
            color: #7E8B97;
            font-family: $primary-font;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.257px;
        }

        .flight-card {
            display: flex;
            padding: 0px 6px 0px 25px;
            justify-content: center;
            align-items: center;
            gap: 50px;
            align-self: stretch;
            width: 100%;
            border-radius: 6px;
            border: 0.7px solid #CECECE;
            background: #FFF;

            .airlane-side {
                display: flex;
                align-items: center;
                gap: 7px;
                flex-basis: 20%;
            }

            .flight-side {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex: 1 0 0;
                flex-basis: 55%;
                align-self: stretch;

                .time-text {
                    color: #1262AF;
                    font-family: Roboto;
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.322px;
                }

                .from-country {
                    color: #646468;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.257px;
                }

                .endtime-text {
                    color: #1262AF;
                    font-family: Roboto;
                    font-size: 21px;
                    text-align: right;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.322px;
                }

                .to-country {
                    color: #646468;
                    font-family: $primary-font;
                    font-size: 16px;
                    text-align: right;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.257px;
                }

                .flight-duration {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 20px 0px;
                }
            }

            .price-side {
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;
                border-left: 1px solid red;
                flex-basis: 20%;
            }

        }
    }

    .sponsored-add {
        display: flex;
        height: 100%;
        padding-bottom: 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;
        border-radius: 6px;
        flex-basis: 30%;
        
        @media (max-width:1192px) {
            display: none;
        }

        .sponsored-title {
            position: relative;
        }

        .sponsored-title::after {
            content: "";
            width: 100%;
            height: 1px;
            color: red;
            top: 20px;
            position: absolute;
            display: block;
        }

        .add {
            display: flex;
            flex-direction: column;

            .add-box {
                border: 1px solid black;
                width: 257px;
                height: 214px;
            }
        }
    }
}

@media(max-width: 768px) {
        .flight-results {
            display: flex;
            align-items: flex-start;
            gap: 24px;
            flex: 1 0 0;
            flex-basis: 80%;
            width: 100%;
    
            .flights {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 12px;
                flex: 1 0 0;
                flex-basis: 70%;
    
                p {
                    color: #7E8B97;
                    font-family: Roboto;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.257px;
                }
    
                .flight-card {
                    display: flex;
                    padding: 0px 6px 0px 25px;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 20px;
                    align-self: stretch;
                    width: 100%;
                    border-radius: 6px;
                    border: 0.7px solid #CECECE;
                    background: #FFF;
    
                    .airlane-side {
                        display: flex;
                        align-items: center;
                        gap: 7px;
                        flex-basis: 20%;
                    }
    
                    .flight-side {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex: 1 0 0;
                        flex-basis: 55%;
                        align-self: stretch;
    
                        .time-text {
                            color: #1262AF;
                            font-family: Roboto;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            letter-spacing: 0.322px;
                        }
    
                        .from-country {
                            color: #646468;
                            font-family: Roboto;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: 0.257px;
                        }
    
                        .endtime-text {
                            color: #1262AF;
                            font-family: Roboto;
                            font-size: 14px;
                            text-align: right;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            letter-spacing: 0.322px;
                        }
    
                        .to-country {
                            color: #646468;
                            font-family: Roboto;
                            font-size: 12px;
                            text-align: right;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: 0.257px;
                        }
    
                        .flight-duration {
                            align-items: center;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            padding: 10px 0px;

                            p{
                                font-size: 12px;
                            }
                        }
                    }
    
                    .price-side {
                        display: flex;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        border-left: 1px solid red;
                        flex-basis: 20%;

                    p{
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .search-filters{
        width: 100px;
        .frame-2271{
            display: none;
        }
        
    }
}