$button-color:#F99A0E;
$primary-color:#1262AF;
$eats-icon-color:#36DA76;
$hotel-icon-color:#F9668D;
$attraction-icon-color:#FF9B53;
$commute-icon-color:#FDBF00;
$taxi-icon-color:#4DABFF;
$movie-icon-color:#79CA00;
$text-color:#303030;
$price-color:#FBA403;
$secondary-color:#424242;
$third-color:#FFF;