$breakpoint-tablet: 904px;
$breakpoint-phone: 680px;



@media (max-width:$breakpoint-tablet){
    
    .search-form-input{
        width: 100%;
        display: flex;
        flex-direction: column;

        &-row{
            display: flex;
            flex-direction: column;
        }
    }
    .flight-option{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:$breakpoint-phone){
    .search-header{
        display: none;
    }
}