@media (max-width: 768px) {
  .search-form-input {
    display: flex;
    flex-direction: column;
  }
  .search-form-input-row {
    display: flex;
    flex-direction: column;
  }
  .flight-option {
    display: flex;
    flex-direction: column;
  }
}
a {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h1 {
  color: var(--studio-darkmode-allwhite-ffffff, #FFF);
  font-family: Baloo Bhai;
  font-size: 61px;
  font-style: normal;
  font-weight: 400;
  line-height: 67px;
}

p {
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.button-group {
  height: 100%;
  display: flex;
  padding: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.button-group-search {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #F99A0E;
}
.button-group-text {
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.46px;
  text-transform: uppercase;
}

.header {
  display: flex;
  height: 77px;
  padding: 22px 80px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-items: stretch;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
}
.navbar-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 36px;
}
.navbar-items-wishlist-icon {
  cursor: pointer;
}
.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.navbar-menu-explore {
  color: #1262AF;
  transition: 0.7 ease;
}
.navbar-menu-explore:hover {
  color: #1262AF;
}
.navbar-menu-search {
  color: #424242;
}
.navbar-menu-search:hover {
  color: #1262AF;
}
.navbar-menu-hotels {
  color: #424242;
}
.navbar-menu-hotels:hover {
  color: #1262AF;
}

.search {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.search-form {
  width: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  border-radius: 10px;
  background-color: #FFF;
}
.search-form-tittle-group {
  width: 100%;
  height: auto;
  display: flex;
  padding: 5px;
  align-items: center;
  gap: 5px;
  align-items: stretch;
}
.search-form-tittle-group-text {
  width: 79%;
  height: auto;
}
.search-form-tittle-group .flight-option {
  width: 21%;
  height: auto;
  display: flex;
  align-items: center;
  gap: 5px;
}
.search-form-tittle-group .flight-option .radio-return {
  width: 50%;
  height: auto;
  display: inline-flex;
  align-items: center;
}
.search-form-tittle-group .flight-option .radio-return :hover {
  cursor: pointer;
}
.search-form-tittle-group .flight-option .radio-return-icon {
  display: flex;
  padding: 9px;
  align-items: center;
  gap: 10px;
}
.search-form-tittle-group .flight-option .radio-return-text {
  color: #303030;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.15px;
}
.search-form-tittle-group .flight-option .radio-one-way {
  width: 50%;
  height: auto;
  display: inline-flex;
  align-items: center;
}
.search-form-tittle-group .flight-option .radio-one-way :hover {
  cursor: pointer;
}
.search-form-tittle-group .flight-option .radio-one-way-text {
  color: #303030;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-weight: 150%;
  letter-spacing: 0.15px;
}
.search-form-input {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}
.search-form-input-row {
  width: 85%;
  height: 100%;
  display: flex;
  padding: 5px;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
}
.search-form-input-row-dpt {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  flex: 1 0 0;
  align-self: stretch;
}
.search-form-input-row-arr {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  flex: 1 0 0;
  align-self: stretch;
}
.search-form-input-row-date {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  flex: 1 0 0;
  align-self: stretch;
}
.search .container {
  width: 100%;
  display: flex;
  height: 640px;
  padding: 0px 140px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 43px;
}
.search-header {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.search-background {
  background: url("/assets/images/9b977bd47a30a4e543b4224bd388e353 (1).png"), url("/assets/images/Banner Gradient.png") lightgray 50%/cover no-repeat;
}

.home-tittle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.input {
  display: flex;
  height: 100%;
  padding: 0 12px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--other-outlined-border, rgba(0, 0, 0, 0.23));
}
.input-text {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 15px 0px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.label-container {
  display: flex;
  height: 2px;
  padding: 0 4px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: var(--background-paper, #FFF);
}

.label-container-text {
  color: var(--text-secondary, rgba(0, 0, 0, 0.6));
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  letter-spacing: 0.15px;
}

.search-input-text {
  width: 100%;
  height: 100%;
  border: none;
}/*# sourceMappingURL=style.css.map */