body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 69px;
}

a {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h1 {
  color: var(--studio-darkmode-allwhite-ffffff, #FFF);
  font-family: Baloo Bhai;
  font-size: 61px;
  font-style: normal;
  font-weight: 400;
  line-height: 67px;
}

p {
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

span {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: capitalize;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.button-group {
  height: 100%;
  display: flex;
  padding: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.button-group-search {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #F99A0E;
}
.button-group-text {
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.46px;
  text-transform: uppercase;
}

.view-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.popular-view-button {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.popular-view-button-text {
  width: 140.659px;
  color: #1262AF;
  text-align: right;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.72px;
}

.header {
  display: flex;
  height: 77px;
  padding: 22px 80px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
}
.container-navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 36px;
}
.container-navbar-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 36px;
}
@media screen and (max-width: 768px) {
  .container-navbar-menu {
    display: none;
  }
}
.container-navbar-menu-explore {
  color: #424242;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container-navbar-menu-search {
  color: #1262AF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container-navbar-menu-hotels {
  color: #424242;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container-navbar-menu-wishlist {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
.container .hamburger {
  position: relative;
  display: none;
  width: 35px;
  cursor: pointer;
  z-index: 99;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
}
@media screen and (max-width: 768px) {
  .container .hamburger {
    display: block;
  }
}
.container .hamburger .bar, .container .hamburger:after, .container .hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #1262AF;
  margin: 6px 0px;
  transition: 0.4s;
}
.container .hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}
.container .hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -9px);
}
.container .hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  padding-top: 120px;
  transition: 0.4s;
  background-color: #FFF;
}
.mobile-nav.is-active {
  left: 0;
}
.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: #1262AF;
  color: #FFF;
  text-decoration: none;
}
.mobile-nav a:hover {
  background-color: #424242;
  min-width: 768px;
}

.search {
  width: 100%;
  height: 640px;
  display: flex;
  flex-direction: column;
  background: url("/assets/images/9b977bd47a30a4e543b4224bd388e353 (1).png"), url("/assets/images/Banner Gradient.png") lightgray 50%/cover no-repeat;
}
.search-form {
  width: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  border-radius: 10px;
  background-color: #FFF;
}
.search-form-tittle-group {
  width: 100%;
  height: auto;
  display: flex;
  padding: 5px;
  align-items: center;
  gap: 5px;
  align-items: stretch;
}
.search-form-tittle-group-text {
  width: 79%;
  height: auto;
}
.search-form-tittle-group .search-label {
  display: flex;
  gap: 18px;
}
.search-form-input {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}
.search-form-input-row {
  width: 85%;
  height: 100%;
  display: flex;
  padding: 5px;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
}
.search-form-input-row-dpt {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  flex: 1 0 0;
  align-self: stretch;
}
.search-form-input-row-arr {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  flex: 1 0 0;
  align-self: stretch;
}
.search-form-input-row-date {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  flex: 1 0 0;
  align-self: stretch;
}
.search .container {
  width: 100%;
  display: flex;
  height: 640px;
  padding: 0px 140px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 43px;
}
@media (max-width: 500px) {
  .search .container {
    padding: 0px;
  }
}
@media (max-width: 768px) {
  .search .container {
    padding: 20px;
  }
}
.search-header {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
@media (max-width: 768px) {
  .search .search-form-input {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .search .search-form-input-row {
    display: flex;
    flex-direction: column;
  }
  .search .search-header {
    display: none;
  }
  .search .flight-option {
    display: flex;
  }
  .search .button-group {
    width: 100%;
  }
}

.home {
  display: flex;
  width: 100%;
  height: auto;
  padding: 0 88px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.home .flight-search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.home .flight-search-text {
  align-self: stretch;
  color: #303030;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: uppercase;
}
.home .flight-search-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 36px;
  align-self: stretch;
}
.home .flight-search-recent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  align-self: stretch;
}
.home .flight-search-recent-main {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 21px;
  flex: 1 0 0;
}
.home .flight-search-recent-details {
  width: 44.727px;
  height: 28px;
}
.home .flight-search-recent-details-text {
  width: 44.727px;
  color: #1262AF;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.96px;
  text-transform: capitalize;
}
.home .flight-search-to-from {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.home .flight-search-to-from-text {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: capitalize;
}
.home .flight-search-duration {
  width: 117.351px;
  height: 24px;
}
.home .flight-search-prepare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.home .flight-search-prepare-text {
  align-self: stretch;
  color: #CECECE;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: uppercase;
}
.home .flight-search-prepare-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.home .flight-search-prepare-menu .trip-sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.home .flight-search-prepare-menu .trip-sections .trip-names {
  color: #8E8E94;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}
.home .destination {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.home .destination .title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  flex: 1 0 0;
}
.home .destination .title-container-first {
  color: #1262AF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: uppercase;
}
.home .destination .title-container-second {
  color: #303030;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: capitalize;
}
.home .destination .cards-container {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  justify-content: space-between;
}
.home .destination .cards-container .col {
  display: flex;
  width: 320px;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.3s ease-in-out;
}
.home .destination .cards-container .col .city {
  width: 288px;
  height: 182px;
  align-self: stretch;
  border-radius: 10px;
  background: url("/assets/images/ParisImage.png");
}
.home .destination .cards-container .col .city-details {
  display: flex;
  width: 287.414px;
  padding: 8px 12px;
  align-items: flex-start;
}
.home .destination .cards-container .col .city-details-text {
  flex: 1 0 0;
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
}
.home .destination .cards-container .col .city-details .ct-details {
  width: 90.922px;
  height: 59px;
  flex-shrink: 0;
}
.home .destination .cards-container .col .city-details .ct-details-first {
  width: 52.532px;
  color: #FFF;
  text-align: right;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
  text-transform: uppercase;
}
.home .destination .cards-container .col .city-details .ct-details-second {
  width: 90.922px;
  color: var(--studio-darkmode-allwhite-ffffff, #FFF);
  text-align: right;
  font-family: Baloo Bhai;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
}
.home .destination .cards-container .col:hover {
  transform: scale(1.1);
}
.home .destination-details {
  display: flex;
  width: 287.414px;
  align-items: flex-start;
}
.home .recommended-holidays {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.home .recommended-holidays .rec-tittle {
  display: flex;
  align-items: center;
  align-self: stretch;
}
.home .recommended-holidays .rec-tittle-text {
  color: #303030;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  flex: 1 0 0;
}
.home .recommended-holidays .rec-cards-container {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}
.home .recommended-holidays .rec-cards-container .rec-card {
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  transition: 0.3s ease-in-out;
}
.home .recommended-holidays .rec-cards-container .rec-card-background {
  width: 288px;
  height: 242px;
  align-self: stretch;
  border-radius: 10px 10px 0px 0px;
  background: url("/assets/images/unsplash_5MV818tzxeo.png");
}
.home .recommended-holidays .rec-cards-container .rec-card .holiday-details {
  display: flex;
  padding: 20px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #EAEAEA;
  background: #FFF;
}
.home .recommended-holidays .rec-cards-container .rec-card .holiday-details .frame {
  display: flex;
  align-items: center;
  align-self: stretch;
}
.home .recommended-holidays .rec-cards-container .rec-card .holiday-details .frame-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  flex: 1 0 0;
}
.home .recommended-holidays .rec-cards-container .rec-card .holiday-details .frame-inner-first {
  color: #424242;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.4px;
  align-self: stretch;
}
.home .recommended-holidays .rec-cards-container .rec-card .holiday-details .frame-inner-second {
  color: #999;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
  align-self: stretch;
}
.home .recommended-holidays .rec-cards-container .rec-card .holiday-details .frame-text {
  color: #1262AF;
  text-align: right;
  font-family: Baloo Bhai;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}
.home .recommended-holidays .rec-cards-container .rec-card:hover {
  transform: scale(1.1);
}
.home .popular-stays {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  width: 100%;
}
.home .popular-stays .stays-header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
.home .popular-stays .stays-header .stays-title {
  height: 35px;
  flex: 1 0 0;
}
.home .popular-stays .stays-header .stays-title p {
  color: #303030;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  width: 100%;
}
.home .popular-stays .stays-header .stays-button {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  border-radius: 31px;
  background: #FFF;
  cursor: pointer;
}
.home .popular-stays .stays-header .stays-button p {
  color: #1262AE;
  text-align: right;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.72px;
}
.home .popular-stays .stays-header .stays-button .button-icon {
  width: 24px;
  height: 24px;
}
.home .popular-stays .hotel-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: stretch;
}
.home .popular-stays .hotel-cards .hotel-col {
  display: flex;
  padding: 0px 12px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  flex-basis: 25%;
  align-items: stretch;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card {
  width: 100%;
  display: flex;
  padding: 15px 13px;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
  flex: 1 0 0;
  border-radius: 10px;
  border: 1px solid #EAEAEA;
  background: #FFF;
  align-items: stretch;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 11px;
  align-self: stretch;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-details-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  flex: 1 0 0;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-details-row .hotel-description {
  color: #8E8E94;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
  align-self: stretch;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-details-row .hotel-name {
  color: #303030;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.88px;
  text-transform: capitalize;
  align-self: stretch;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-details-row .hotel-price {
  color: #303030;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
  align-self: stretch;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-details .video-button video {
  display: flex;
  width: 25px;
  height: 25px;
  padding: 0.725px;
  justify-content: center;
  align-items: center;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-details .video-button video .video-play {
  width: 23.551px;
  height: 23.551px;
  flex-shrink: 0;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-rating {
  height: 19px;
  align-self: stretch;
  display: flex;
  flex-direction: row;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-rating .hotel-review {
  color: #1262AF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
  max-width: 216.267px;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-rating .hotel-star {
  width: 44.38px;
  height: 19px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-rating .hotel-star .star-point {
  color: #303030;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-rating .hotel-star .star {
  width: 16.676px;
  height: 17.189px;
  flex-shrink: 0;
  color: #FDBF00;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .more-detail-button {
  display: flex;
  height: 46px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid #CCDCEC;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .more-detail-button p {
  color: #1262AF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.46px;
  text-transform: uppercase;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .more-detail-button:hover {
  background-color: #1262AF;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .more-detail-button:hover p {
  color: white;
}

@media (max-width: 768px) {
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 20px;
  }
  .rec-cards-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 20px;
  }
  .hotel-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 20px;
  }
}
@media (max-width: 600px) {
  .flight-search-prepare-menu {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}
.home-tittle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.input {
  display: flex;
  height: 100%;
  padding: 0 12px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--other-outlined-border, rgba(0, 0, 0, 0.23));
}
.input-text {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 15px 0px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.label-container {
  display: flex;
  height: 2px;
  padding: 0 4px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: var(--background-paper, #FFF);
}

.label-container-text {
  color: var(--text-secondary, rgba(0, 0, 0, 0.6));
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  letter-spacing: 0.15px;
}

.search-input-text {
  width: 100%;
  height: 100%;
  border: none;
}/*# sourceMappingURL=style.css.map */