body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

a {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

li {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.search-button {
  width: auto;
  height: auto;
  display: flex;
  padding: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.search-button-flight {
  display: flex;
  width: 164px;
  height: 56px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #F99A0E;
}

.footer-button {
  width: 164px;
  height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #F99A0E;
}
.footer-button-text {
  color: var(--primary-contrast, #FFF);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.46px;
  text-transform: uppercase;
}

.header {
  display: flex;
  height: 77px;
  padding: 22px 80px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
}
.container-navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 36px;
}
.container-navbar-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 36px;
}
@media screen and (max-width: 768px) {
  .container-navbar-menu {
    display: none;
  }
}
.container-navbar-menu-explore {
  color: #424242;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container-navbar-menu-search {
  color: #1262AF;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container-navbar-menu-hotels {
  color: #424242;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container-navbar-menu-wishlist {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
.container .hamburger {
  position: relative;
  display: none;
  width: 35px;
  cursor: pointer;
  z-index: 99;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
}
@media screen and (max-width: 768px) {
  .container .hamburger {
    display: block;
  }
}
.container .hamburger .bar, .container .hamburger:after, .container .hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #1262AF;
  margin: 6px 0px;
  transition: 0.4s;
}
.container .hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}
.container .hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -9px);
}
.container .hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  padding-top: 120px;
  transition: 0.4s;
  background-color: #FFF;
}
.mobile-nav.is-active {
  left: 0;
}
.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: #1262AF;
  color: #FFF;
  text-decoration: none;
}
.mobile-nav a:hover {
  background-color: #424242;
  min-width: 768px;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  height: 362px;
  align-self: stretch;
  padding-top: 84.1px;
  padding-bottom: 84.9px;
  background: url("/assets/images/9b977bd47a30a4e543b4224bd388e353(2).png"), url("/assets/images/Banner Gradient (1).png"), lightgray 50%/cover no-repeat;
}
.search-container {
  display: flex;
  width: 100%;
  height: auto;
  padding: 0 88px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.search-container-text {
  width: 100%;
  height: auto;
  color: var(--studio-darkmode-allwhite-ffffff, #FFF);
  font-family: Baloo Bhai;
  font-size: 61px;
  font-style: normal;
  font-weight: 400;
  line-height: 67px;
  align-self: stretch;
}
.search-container-form {
  width: 100%;
  height: auto;
  display: flex;
  padding: 20px;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 10px;
  background-color: #FFF;
}
.search-input {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex: 1 0 0;
}
.search-input-group {
  display: flex;
  width: 100%;
  height: auto;
  padding: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}
.search-input-group-dpt {
  width: auto;
  display: flex;
  height: 2px;
  padding: 0px 4px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}
.search-input-group-dpt-text {
  width: auto;
  height: auto;
  color: var(--text-secondary, rgba(0, 0, 0, 0.6));
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.15px;
}
.search-input-group-active {
  width: 100%;
  height: auto;
  display: flex;
  padding: 15px 0px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.result {
  width: 100%;
  height: auto;
  display: flex;
  padding: 50px 80px;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}
.result .search-filters {
  width: 253px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 39px;
}
.result .search-filters .result-summary {
  width: 228px;
  height: 47px;
}
.result .search-filters .result-summary .frame {
  display: flex;
  width: 228px;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.result .search-filters .result-summary .frame-text {
  width: 219.414px;
  color: #424242;
  color: #57575D;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.257px;
}
.result .search-filters .stops {
  width: 296.618px;
  height: 106px;
}
.result .search-filters .stops-text {
  width: 65.262px;
  color: #303030;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.257px;
}
.result .search-filters .stops-checkbox {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
}
.result .search-filters .booking-options {
  width: 221px;
  height: 106px;
}
.result .search-filters .booking-options-text {
  width: 189.034px;
  height: 26px;
  color: #57575D;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.257px;
}
.result .search-filters .booking-options-checkbox {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
}
.result .search-filters .flight-experience {
  width: 310.8px;
  height: 106px;
}
.result .search-filters .flight-experience-text {
  width: 198.035px;
  height: 26px;
  color: #57575D;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.257px;
}
.result .search-filters .flight-experience-checkbox {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
}
.result .search-filters .airlines {
  width: 181px;
  height: 106px;
}
.result .search-filters .airlines-text {
  width: 87.766px;
  height: 26px;
  color: #57575D;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.257px;
}
.result .search-filters .airlines-checkbox {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
}
.result-section {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}
.result-section .flight-cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
}
.result-section .recently-booked {
  display: flex;
  width: 257px;
  height: auto;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.result-section .recently-booked-tittle {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  align-self: stretch;
}
.result-section .recently-booked-tittle-text {
  flex: 1 0 0;
  color: #1262AF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.64px;
  text-transform: uppercase;
}
.result-section .recently-booked-azal {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 529px;
  align-items: stretch;
  background: url("/assets/images/14faa30c3403c5ac91d5d84921a55bf8.png"), lightgray 50%/cover no-repeat;
}
.footer-form {
  margin: auto;
  height: auto;
  display: flex;
  width: 549px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.footer-form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  align-self: stretch;
}
.footer-form-header-first {
  align-self: stretch;
  color: #1262AE;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: uppercase;
}
.footer-form-header-second {
  align-self: stretch;
  color: #434343;
  text-align: center;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer-form-subscribe {
  background-color: #FFF;
  display: flex;
  padding: 28px 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 17px;
  align-self: stretch;
}
.footer-form-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
}
.footer-form-text p {
  color: #424242;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  align-self: stretch;
}
.footer-form-fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.footer-btn {
  width: 100%;
  height: 56px;
  display: flex;
  padding: 0px 12px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--other-outlined-border, rgba(0, 0, 0, 0.23));
}
.footer-input {
  width: 100%;
  height: auto;
  border: 0;
  outline: 0;
}/*# sourceMappingURL=style.css.map */